/* Imports */
@import "mixins";
@import "functions";
@import "variables";

/*========================== 
            Variables
==============================*/

  //line heights for navbar
$navbarLinHeight: header-height($navHeight);
$defualtLineHeight: 2.5em;
$mediumLineHeight: 2.4em;
$smallLineHeight: 2.2em;

  //logo
$logoHeaderHeight: header-logo-height($navHeight);
$mediumLogoHeaderHeight: header-logo-height($mediumNavHeight);
$smallLogoHeaderHeight: header-logo-height($smallNavHeight);

  //button
$buttonHeight: button-navbar-height($navHeight);
$mediumButtonHeight: button-navbar-height($mediumNavHeight);
$smallButtonHeight: button-navbar-height($smallNavHeight);

  //navbar
$menuItemHeight: $navHeight / 2;
$navbarAlink: $menuItemHeight / 1.5;



button {
  cursor: pointer;
  background: none;
  border: none;
  outline: inherit;
}

/*========================== 
            Header 
==============================*/

#header {
  font-family: $headerFont, Arial, Helvetica, sans-serif;
  font-weight: $headerFontWeight;
}

#header {
  height: $navHeight;
  width: 100%;
  position: relative;
  display: block;
  @include transition-height(0.3s);
  @include defualt-margin;
}

#logo-header {
  cursor: pointer;
  position: fixed;
  display: block;
  z-index: 1;
  height: $logoHeaderHeight;
  @include logo-header-margin($navHeight, $defaultMargin); // (params) first= top/bottom, second=left/right
  @include defualt-padding;
  .logo {
    height: $logoHeaderHeight;
    width: auto;
    @include transition-height(0.3s);
  }
}

/*========================== 
        Navbar/sidebar 
==============================*/

#navbar {
  height: $navHeight;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: $navbarBorderSize solid;
  border-color: $navbarBorderColor;
  background-color: $backgroundColor;
  @include transition-height(0.3s);
}
  
  //Default settings for menu-item for navbar && sidebar
.menu-item {
  display: inline-block;
  font-size: $menuItemFont;
  a {
    position: relative;
    display: inline-block;
    text-decoration: none; 
    text-transform: uppercase;
  }
}

  //Toolbar inside sidebar-menu
#toolbar {
  margin-top: button-navbar-margin(($navHeight - $buttonHeight));
  margin: $toolbarBorderMargin;
  border-top: $toolbarBorderSize solid;
  border-color: $toolbarBorderColor;
  @include defualt-padding;
  .toolbar-item {
    float: right;
    display: block;
    list-style: none;
    #lang-icon {
      height: 20px;
      width: auto;
    }
  }
}

#sidebar {
  position: fixed;
  visibility: hidden;
  margin-top: $navHeight;
  right: 0;
  top: 0;
  height: 0;
  width: calc(#{$navHeight} + #{$defaultMargin});
  background-color: $sidebarBackgroundColor;
  @include transition-all-margin-width(0.7s, 0.3s);
  #sidebar-menu {
    height: auto;
    line-height: $defualtLineHeight;
    transform: translateY(-275px);
    @include defualt-margin;
    @include defualt-padding;
    @include transition-all-ease-in-out(0.7s);
    .menu-item {
      width: 100%;
      margin-top: button-navbar-margin(($navHeight - $buttonHeight));
      a {
        display: block;
        color: $sidebarFontColor;
        padding-left: $defaultPadding;
        @include transition-padding-ease(0.3s);
        &:hover {
          padding-left: calc(#{$defaultPadding} + 5%); 
        }
      }
    }
  }
}

#navbar-menu {
  list-style: none;
  float: right;
  display: block;
  height: auto;
  opacity: 1;
  transform: translateY(0px);
  margin: header-margin($navHeight, $menuItemHeight) 0;
  line-height: $navbarLinHeight;
  @include transition-all-ease-in-out(0.3s);
  @include defualt-padding;
  .menu-item {
    height: $menuItemHeight;
    text-align: center;
    a {
      height: $navbarAlink;
      margin: 0 $navbarLinkPadding;
      color: $defualtFontColor;
      @include transition-padding-ease(0.4s);
      &:hover {
        border-bottom: $menuItemABorderSize solid;
        border-color: $menuItemABorderColor;
      }
    }
  }
}

/*========================== 
        Dropdown button
==============================*/

#dropdown-div {
  position: relative;
  visibility: hidden;
  float: right;
  z-index: 1;
  height: $buttonHeight;
  transform: scale(1);
  //transform: translateY(-20px);
  @include transition-transform-ease-in-out(0.2s);
  @include button-navbar-margin(($navHeight - $buttonHeight), $defaultMargin);
  @include defualt-padding;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(0.9);
  }
  #dropdown-icon {
    height: $buttonHeight;
    border-radius: 50%;
    opacity: 0;
    width: auto;
    transform: translateY(-15px);
    @include transition-all-ease-in-out(0.4s);
  }
}

/*========================== 
  JsFiddler, toggles classes
==============================*/


.sidebar-visible {
  height: 100% !important;
  visibility: visible !important;
    #sidebar-menu {
      transform: translateY(0px) !important;
    }
}

.dropdown-div-visible {
  visibility: visible !important;
  #dropdown-icon {
    opacity: 1 !important;
    transform: translateY(0px) !important;
  }
}

/*========================== 
        Media queries
==============================*/
 
/* Large devices and up */
@media only screen and (max-width: $largeDevices) {
  
  #navbar-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px);
    @include transition-all-ease-in-out(0.4s);
  }
}

 
/* Medium devices and up */
@media only screen and (max-width: $mediumDevices) {
  
  #navbar-menu {
    @include no-transitions;
  }

  //Heights
  #navbar, #header {
    height: $mediumNavHeight !important; 
  }
  #logo-header, .logo {
    height: $mediumLogoHeaderHeight !important;
  }
  #dropdown-div, #dropdown-icon  {
    height: $mediumButtonHeight !important;
  }

  //Font size
  .menu-item {
    font-size: $menuItem-md !important;
  }

    //Margins
  #logo-header {
    @include logo-header-margin($mediumNavHeight, $defaultMargin);
  }
  #dropdown-div {
    @include button-navbar-margin(($mediumNavHeight - $mediumButtonHeight), $defaultMargin)
  }

    //Sidebar
  #sidebar {
    margin-top: $mediumNavHeight !important;
    width: calc(#{$mediumNavHeight} + #{$defaultMargin}) + 10% !important;
  }
  #sidebar-menu {
    line-height: $mediumLineHeight !important;
  }
}

 
/* Small devices and up */
@media only screen and (max-width: $smallDevices) {
 
    //Heights
  #navbar, #header {
    height: $smallNavHeight !important; 
  }
  #logo-header, .logo {
    height: $smallLogoHeaderHeight !important;
  }
  #dropdown-div, #dropdown-icon  {
    height: $smallButtonHeight !important;
  }

  //Font size
  .menu-item {
    font-size: $menuItem-sm !important;
  }

    //Margins
  #logo-header {
    @include logo-header-margin($smallNavHeight, $defaultMargin);
  }
  #dropdown-div {
    @include button-navbar-margin(($smallNavHeight - $smallButtonHeight), $defaultMargin)
  }

    //Sidebar
  #sidebar {
    margin-top: $smallNavHeight !important;
    width: calc(#{$smallNavHeight} + #{$defaultMargin}) + 10% !important;
  }
  #sidebar-menu {
    line-height: $smallLineHeight !important;
  }
}