/* Imports */
@import "mixins";
@import "functions";

/*========================== 
            Variables
==============================*/

  //Colors
$backgroundColor: rgba(23,23,34, 1);
$defualtFontColor: #FBFBF1;
$sidebarFontColor: rgba(23,23,34, 1);

$navbarBackgroundColor: rgba(23,23,34, 1);
$sidebarBackgroundColor: #FBFBF1;
$navbarBorderColor: #FBFBF1;

$navbar-menu-background-color: rgba(23,23,34, 0.5);
$navbar-menu-border-color: rgb(201, 201, 201);
$mobileFontColor: #FBFBF1;

  //Setting up responsive Height && width
$navHeight: 140px;
$linkPadding: 60px;

  //Navbar settings
$navbarBorderSize: 2px;

  //Dropdown settings
$dropdownMenuHeightMobile: 60px;
$dropdownMenuBorderSize: 1px;
$totalRows: 4;
$dropdownMenuTotalHeight: dropdown-menu-total-height($dropdownMenuHeightMobile, $dropdownMenuBorderSize, $totalRows, $navHeight);

  //Heights that response with $navHeight
$navbarLinHeight: header-height($navHeight);
$logoHeaderHeight: header-logo-height($navHeight);
$buttonHeight: button-navbar-height($navHeight);

  //Margins 
$defaultHeaderMargin: 10%;

  //Paddings
$defaultPadding: 10%;

/*========================== 
            Body 
==============================*/

body {
  background-color: $backgroundColor;
  @include defualt-margin;
  @include defualt-padding;
}


/*========================== 
            Header 
==============================*/

#header {
  height: $navHeight;
  width: 100%;
  position: fixed;
  display: block;
  @include transition-all-ease-in-out(0.4s);
  @include defualt-margin;
}

#logo-header {
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 1;
  height: $logoHeaderHeight;
  @include logo-header-margin($navHeight, $defaultHeaderMargin); // (params) first= top/bottom, second=left/right
  @include defualt-padding;
  .logo {
    height: $logoHeaderHeight;
    width: auto;
  }
}

/*========================== 
        Navbar/sidebar 
==============================*/

#navbar {
  height: $navHeight;
  min-height: $navHeight;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: $navbarBorderSize solid;
  border-color: $navbarBorderColor;
  background-color: $navbarBackgroundColor;
}
  
.menu-item {
  display: inline-block;
  font-size: 1.2em;
  a {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none; 
  }
}


#sidebar {
  position: fixed;
  visibility: hidden;
  margin-top: $navHeight;
  right: 0;
  top: 0;
  height: 0px;
  width: calc(#{$navHeight} + #{$defaultHeaderMargin});
  background-color: $sidebarBackgroundColor;
  @include transition-all-ease-in-out(0.5s);
  #sidebar-menu {
    height: auto;
    line-height: 3em;
    transform: translateY(-275px);
    @include defualt-margin;
    @include defualt-padding;
    @include transition-all-ease-in-out(0.5s);
    .menu-item {
      width: 100%;
      padding-top: button-navbar-margin(($navHeight - $buttonHeight));
      a {
        display: block;
        color: $sidebarFontColor;
        padding-left: $defaultPadding;
        @include transition-padding-ease(0.3s);
        &:hover {
          padding-left: calc(#{$defaultPadding} + 5%); 
        }
      }
    }
  }
}

//JsFiddler toggles this class
.sidebar-visible {
  height: 100% !important;
  visibility: visible !important;
    #sidebar-menu {
      transform: translateY(0px) !important;
    }
}


#navbar-menu {
  list-style: none;
  float: right;
  display: block;
  height: auto;
  opacity: 1;
  transform: translateY(0px);
  padding-top: header-padding($navHeight);
  padding-left: 0;
  line-height: $navbarLinHeight;
  @include defualt-margin;
  @include transition-all-ease-in-out(0.3s);
  .menu-item {
    text-align: center;
    padding-right: $linkPadding;
    a {
      color: $defualtFontColor;
      @include transition-padding-ease(0.4s);
      &:hover {
        @include text-underline-decoration($defualtFontColor);
      }
    }
  }
}

/*========================== 
        Dropdown button
==============================*/

#dropdown-div {
  cursor: pointer;
  position: relative;
  visibility: visible;
  background: none;
  outline: inherit;
  float: right;
  border: none;
  z-index: 1;
  height: $buttonHeight;
  transform: scale(1);
  @include transition-all-ease-in-out(0.4s);
  @include button-navbar-margin(($navHeight - $buttonHeight), $defaultHeaderMargin);
  @include defualt-padding;
  &:hover {
    transform: scale(1.1);
    @include transition-padding-ease(0.2s);
  }
  &:active {
    transform: scale(0.9);
  }
  #dropdown-icon {
    height: $buttonHeight;
    border-radius: 50%;
    width: auto;
  }
}


@media only screen and (max-width: 1024px) {
  
  #navbar-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(15px);
    @include transition-all-ease-in-out(0.4s);
  }
}

  
  