/* Imports */
@import "mixins";
@import "functions";
@import "variables";


/*========================== 
            Home-page
==============================*/

#home-page {
    position: relative;
    background-color: $backgroundColor;
    z-index: -9999;
    width: 100%;
    height: calc(100vh - #{$navHeight});
}

.background-container {
    height: 100%;
    width: 100%;
    background-image: url('images/background/backgroundimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}


.title-container {
    position: absolute;
    width: $titleContainerWidth;
    top: calc(30% - #{$navHeight});
    //margin: 0 $titleContainerResponsiveMargin;
    margin: 0 10%;
    text-align: none;
}

.home-page-title {
    font-family: $titleFont;
    color: $titleColor;
    position: relative;
    font-size: $h1-homepage;
    //text-shadow: 0.05em 0.05em $titleShadowColor;
}

.home-page-under-title {
    color: $defualtFontColor;
   // font-size: $h1-homepage;
}


.title-logo {
    height: $h1-homepage;
    margin-left: 1rem;
    width: auto;
  }
  

/*========================== 
        Media queries
==============================*/
 
/* Large devices and up */
@media only screen and (max-width: $largeDevices) {
    .title-container {
        top: calc(30% - #{$mediumNavHeight}) !important;
        width: $titleContainerWidth-lg !important;
        margin: 0 8%;
    }

    .home-page-title {
        font-size: $h1-homepage-lg;
    }

    .title-logo {
        height: $h1-homepage-lg;
        margin-left: 0.8rem;
      }
}
  
   
/* Medium devices and up */
@media only screen and (max-width: $mediumDevices) {
    .title-container {
        text-align: center;
        top: calc(30% - #{$smallNavHeight}) !important;
        width: $titleContainerWidth-md !important;
        margin: 0 $titleContainerResponsiveMargin-md !important;
    }

    #home-page {
        height: calc(100vh - #{$mediumNavHeight});
    }
    .home-page-title {
        font-size: $h1-homepage-md;
    }

    .title-logo {
        height: $h1-homepage-md;
        margin-left: 0.6rem;
      }
}
  
   
/* Small devices and up */
@media only screen and (max-width: $smallDevices) {
    .title-container {
        width: $titleContainerWidth-sm !important;
        margin: 0 $titleContainerResponsiveMargin-sm !important;
    }

    #home-page {
        height: calc(100vh - #{$smallNavHeight});
    }
    .home-page-title {
        font-size: $h1-homepage-sm;
    }
    .title-logo {
        height: $h1-homepage-sm;
        margin-left: 0.5rem;
      }
}