/*========================== 
            Colors
==============================*/

    //Default settings
$backgroundColor: rgba(23,23,34, 1);
$defualtFontColor: #FBFBF1;

$sidebarFontColor: rgba(23,23,34, 1);
$sidebarBackgroundColor: #FBFBF1;

$titleColor: #fcca37;

    //border color
$navbarBorderColor: #FBFBF1;
$menuItemABorderColor: #FBFBF1;
$toolbarBorderColor: rgba(23,23,34, 0.3);

    //Shadow color
$titleShadowColor: $backgroundColor;

    //rollor color
$rollerColor: #fcca37;


/*========================== 
        Paddings/Margins
==============================*/

    //Paddings
$defaultPadding: 10%;
$navbarLinkPadding: 30px;

    //Margins 
$defaultMargin: 10%;
$toolbarBorderMargin: $defaultMargin - 2%;
$skillsBoxMargin: 70px;


/*========================== 
            Sizes
==============================*/

    //footer
$footerHeight: 240px;

    //Screen sizes
$largeDevices: 1200px;
$mediumDevices: 992px;
$smallDevices: 768px;

    //Roller
$rollerHeight: 2px;


/*========================== 
        Responsive Sizes
==============================*/

    //Navbar
$navHeight: 100px;
$mediumNavHeight: ($navHeight - 20px);
$smallNavHeight: ($mediumNavHeight - 20px);

    //Title-container
$titleContainerWidth: 50%;
$titleContainerWidth-lg: 64%;
$titleContainerWidth-md: 74%;
$titleContainerWidth-sm: 84%;

$titleContainerResponsiveMargin: $titleContainerWidth/2;
$titleContainerResponsiveMargin-lg: calc((100% - #{$titleContainerWidth-lg}) / 2);
$titleContainerResponsiveMargin-md: calc((100% - #{$titleContainerWidth-md}) / 2);
$titleContainerResponsiveMargin-sm: calc((100% - #{$titleContainerWidth-sm}) / 2);


    //Line Height
$defualtLineHeight: 2.5em;
$mediumLineHeight: 2.4em;
$smallLineHeight: 2.2em;


/*========================== 
        Border Sizes
==============================*/

    //Navbar
$navbarBorderSize: 2px;
$menuItemABorderSize: 2px;
$toolbarBorderSize: 1px;


/*========================== 
            Fonts
==============================*/

    //Font Family
$headerFont: 'Work Sans';
$titleFont: 'Spectral';

    //Font sizes
$defaultFontSize: 1rem;
//$mediumFontSize: 1.4rem;
//$smallFontSize: 1.2rem; 

$h1: 3rem;
$h1-lg: $h1 - 0.3rem;
$h1-md: $h1-lg - 0.3rem;
$h1-sm: $h1-md - 0.3rem;

//HOMEPAGE H!
$h1-homepage: 7.5rem;
$h1-homepage-lg: 6.5rem;
$h1-homepage-md: 5.5rem;
$h1-homepage-sm: 4.2rem;

$h2: 1.5rem;
$h2-lg: $h2 - 0.13rem;
$h2-md: $h2-lg - 0.13rem;
$h2-sm: $h2-md - 0.13rem;

$h3: 1.17rem;
$h3-lg: $h3 - 0.05rem;
$h3-md: $h3-lg - 0.05rem;
$h3-sm: $h3-md - 0.05rem;

    //menu-item size
$menuItemFont: 1rem;
$menuItem-md: 1.05rem;
$menuItem-sm: 1.1rem;

    //font weight
$headerFontWeight: 500;

