/*========================== 
            Colors
==============================*/

    //Default settings
$backgroundColor: rgba(23,23,34, 1);
$defualtFontColor: #FBFBF1;

$sidebarFontColor: rgba(23,23,34, 1);
$sidebarBackgroundColor: #FBFBF1;

    //border color
$navbarBorderColor: #FBFBF1;
$menuItemABorderColor: #FBFBF1;
$toolbarBorderColor: rgba(23,23,34, 0.3);

    //Shadow color
$h1TextShadow: rgba(23,23,34, 1);

/*========================== 
        Paddings/Margins
==============================*/

    //Paddings
$defaultPadding: 10%;
$navbarLinkPadding: 30px;

    //Margins 
$defaultMargin: 10%;
$toolbarBorderMargin: $defaultMargin - 2%;


/*========================== 
        Responsive Sizes
==============================*/

    //Navbar
$navHeight: 120px;
$mediumNavHeight: ($navHeight - 25px);
$smallNavHeight: ($mediumNavHeight - 25px);

    //home-page
$titleContainerWidth: 50%;
$titleContainerResponsiveMargin: $titleContainerWidth/2;

    //footer
$footerHeight: 240px;

    //Screen sizes
$largeDevices: 1200px;
$mediumDevices: 992px;
$smallDevices: 768px;


/*========================== 
        Border Sizes
==============================*/

    //Navbar
$navbarBorderSize: 2px;
$menuItemABorderSize: 2px;
$toolbarBorderSize: 1px;

/*========================== 
            Fonts
==============================*/

    //Font Family
$headerFont: 'Work Sans';

    //Font sizes
$defaultFontSize: 16px;
$mediumFontSize: 14px;
$smallFontSize: 12px; 

    //font weight
$headerFontWeight: 500;