@import "variables"; 

/*========================== 
            Body 
==============================*/

body {
    background-color: $backgroundColor;
    @include defualt-margin;
    @include defualt-padding;
  }

/*========================== 
        H1, H2, H3
==============================*/

h1, h2, h3 {
    font-family: $headerFont, Arial, Helvetica, sans-serif;
    font-weight: 500;
    @include defualt-margin;
    @include defualt-padding;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

/*========================== 
        Media queries
==============================*/
 
/* Large devices and up */
@media only screen and (max-width: $largeDevices) {
    h1 {
        font-size: $h1-lg;
    }
    h2 {
        font-size: $h2-lg;
    }
    h3 {
        font-size: $h3-lg;
    }
}
  
   
/* Medium devices and up */
@media only screen and (max-width: $mediumDevices) {
    h1 {
        font-size: $h1-md;
    }
    h2 {
        font-size: $h2-md;
    }
    h3 {
        font-size: $h3-md;
    }
}
  
   
/* Small devices and up */
@media only screen and (max-width: $smallDevices) {
    h1 {
        font-size: $h1-sm;
    }
    h2 {
        font-size: $h2-sm;
    }
    h3 {
        font-size: $h3-sm;
    }
}