/* Defualt paddings */
@function header-padding($px) {
    $pxTemp: ($px/4);
    $px: ($pxTemp/6);
    @return $pxTemp - $px;
}

/* Default heights */
@function header-height($px) {
    @return $px/2;
}

@function header-logo-height($px) {
    @return $px/1.2;
}

@function logo-header-padding($px) {
    $pxTemp: $px/1.2;
    @return ($px - $pxTemp) / 2;
}