/* Imports */
@import "functions";

/* Margins */
@mixin defualt-margin {
    margin: 0;
    -ms-wrap-margin: 0;
}

/* Paddings */
@mixin defualt-padding {
    padding: 0;
}

@mixin header-padding($px) {
    padding: 0 $px 0 $px;
}

// Paddings inside header
@mixin logo-header-padding($px) {
    padding: logo-header-padding($px) 0 logo-header-padding($px) 0;
}

@mixin mobile-navbar-padding($px) {
    padding: mobile-navbar-padding($px) 0;
}

// Paddings inside navbar
@mixin menu-item-a-padding($px) {
    padding: logo-header-padding($px) 0;
}


/* Transition */
@mixin transition-padding {
    -webkit-transition: padding 0.4s;
    -moz-transition: padding 0.4s;
    -o-transition: padding 0.4s;
     transition: padding 0.4s;
}