/* Imports */
@import "mixins";
@import "functions";


//==========================/* Variables */==============================//

  //Colors
$backgroundColor: white;
$headerBackgroundColor: #4a708b;
$defualtFontColor: black;

  //height && width
$headerHeight: 120px;
$linkWidth: 140px;
$logoHeaderHeight: header-logo-height($headerHeight);

//==========================/* Body */==============================//

body {
  @include defualt-margin;
}

//==========================/* Logo */==============================//

.logo {
  height: $headerHeight;
  width: auto;
}

//==========================/* HEADER */==============================//

header {
  display: block;
  height: $headerHeight;
  background-color: $headerBackgroundColor;
  padding: 0 95px 0 95px;
  @include defualt-margin;
}

// Logo inside header
#logo-header {
  cursor: pointer;
  float: left;
  height: $logoHeaderHeight;
  @include logo-header-padding($headerHeight);
  .logo {
    height: $logoHeaderHeight;
  }
}


// Navbar inside header
.navbar {
  height: $headerHeight;
}


#mobile-dropdown-icon {
  cursor: pointer;
  visibility: hidden;
  float: right;
  width: auto;
  height: header-height($headerHeight);
  padding-top: header-padding($headerHeight);
}



#mobile-dropdown-menu {
  float: right;
  height: $headerHeight;
}

.menu-item {
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  padding-top: header-padding($headerHeight);
  line-height: header-height($headerHeight);
  height: header-height($headerHeight);
  min-width: 100px; 
}

a {
  font-family: sans-serif;
  display: block;
  color: $defualtFontColor;
  text-decoration: none; 
  min-width: 100px; 
  width: $linkWidth;
}



//========================================================//