/* Imports */
@import "mixins";
@import "functions";


/*========================== 
            Variables
==============================*/

  //Colors
$backgroundColor: white;
$headerBackgroundColor: #004974;
$defualtFontColor: rgb(201, 201, 201);
$mobileFontColor: rgb(0,0,0);

  //Height && width
$navHeight: 140px;
$linkWidth: 125px;
$dropdownMenuHeightMobile: 60px;

$dropdownMenuHeight: header-height($navHeight);
$logoHeaderHeight: header-logo-height($navHeight);
$mobileNabarHeight: mobile-navbar-height($navHeight);

  //Margins 
$defaultHeaderMargin: 30px;

/*========================== 
            Body 
==============================*/

body {
  @include defualt-margin;
  @include defualt-padding;
}

/*========================== 
           Wrapper 
==============================*/

#wrapper {
  @include defualt-margin;
  position: relative;
  width: 100%;
  height: 100%;
}


/*========================== 
            Header 
==============================*/

header {
  height: $navHeight;
  width: 100%;
  position: absolute;
  display: block;
  background-color: $headerBackgroundColor;
  @include defualt-margin;
}

#logo-header {
  cursor: pointer;
  position: absolute;
  display: block;
  z-index: 1;
  height: $logoHeaderHeight;
  @include logo-header-margin($navHeight, $defaultHeaderMargin); // (params) first= top/bottom, second=left/right
  @include defualt-padding;
  .logo {
    height: $logoHeaderHeight;
    width: auto;
  }
}

/*========================== 
            Navbar 
==============================*/

.mobile-dropdown-link {
  cursor: pointer;
  position: absolute;
  visibility: hidden;
  float: right;
  background: none;
  border: none;
  outline: inherit;
  z-index: 1;
  height: $mobileNabarHeight;
  max-height: $navHeight;
  @include button-navbar-margin($navHeight, $defaultHeaderMargin); // (params) first= top/bottom, second=left/right
  @include defualt-padding;
  #mobile-dropdown-icon {
    height: $mobileNabarHeight;
    width: auto;
  }
}

#navbar {
  height: $navHeight;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;  
}

#dropdown-menu-parent {


}

#dropdown-menu {
  list-style: none;
  float: right;
  display: block;
  height: $dropdownMenuHeight;
  padding-top: header-padding($navHeight);
  padding-right: $defaultHeaderMargin;
  padding-left: 0;
  line-height: $dropdownMenuHeight;
  @include defualt-margin;

  .menu-item {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    min-width: 100px; 

    a {
      display: inline-block;
      position: relative;
      min-width: 100px;
      width: $linkWidth;
      font-family: sans-serif;
      text-decoration: none; 
      color: $defualtFontColor;
      @include transition-padding;

      &:visited {
        //color: $defualtFontColor;
      }

      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .mobile-dropdown-link {
      visibility: visible;
      position: relative;
  }

  #navbar { 
    display: block;
    height: $navHeight; 
    #dropdown-menu {
      position: absolute;
      visibility: visible;
      line-height: $dropdownMenuHeightMobile; 
      width: 100%;
      height: auto;
      padding: 0;
      .menu-item {
        display: block;
        position: relative;
        text-align: left;
        border-bottom: 1px solid;
        border-color: #00000031;
        transition: padding 0.2s ease;
        &:hover {
          padding-left: 10px;
        }
        a {
          color: $mobileFontColor;
          padding-left: 40px;  
          width: calc(100% - 40px);      
        }
      }
    }
  }
}

